.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Home Page */

/* Hide the Home title */
.page-id-7 h1 {
  display: none;
}

.animated {
  font-size: 2.5rem;
  padding: 3rem 1rem;
  margin-top: 4.5rem;
  margin-bottom: 10rem;
}

// .line-1 {
//   position: relative;
//   top: 50%;
//   width: 24rem;
//   // margin: 0 auto;
//   border-right: 4px solid #fc844cbf;
//   font-size: 1rem;
//   text-align: left;
//   white-space: nowrap;
//   overflow: hidden;
//   transform: translateY(-50%);
//   color: white;
// }

/* Animation */
// .anim-typewriter {
//   animation: typewriter 4s steps(44) 1s 1 normal both,
//     blinkTextCursor 500ms steps(44) infinite normal;
// }

// @keyframes typewriter {
//   from {
//     width: 0;
//   }
//   to {
//     width: 18.75rem;
//   }
// }

// @keyframes blinkTextCursor {
//   from {
//     border-right-color: rgba(252, 132, 76, 0.75);
//   }
//   to {
//     border-right-color: transparent;
//   }
// }

@media screen and (min-width: 26.56em) {
  .animated {
    font-size: 3rem;
  }
}

@media screen and (min-width: 38.5em) {
  // .line-1 {
  //   font-size: 3rem;
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  // @keyframes typewriter {
  //   from {
  //     width: 0;
  //   }
  //   to {
  //     width: 56rem;
  //   }
  // }

  .animated {
    font-size: 4rem;
  }
}

@media screen and (min-width: 50em) {
  .animated {
    font-size: 5rem;
  }
}

@media screen and (min-width: 65.625em) {
  .animated {
    font-size: 7rem;
  }
}

/* Archive Projects Page */
.archive .page-title {
  text-align: center;
  margin-top: 4rem;
}

.page-title h1 {
  font-size: 2rem;
}

.page-title .dark-font {
  color: #17252a;
}
// .icon {
//   width: 24px;
//   height: 24px;
// }
// .projects {
//   margin-bottom: 25px;
//   justify-self: center;
// }

/** Grid option 1 - Square */
.projects {
  display: grid;
  text-align: center;
  align-self: center;
  width: 100%;
  max-width: 900px;
  margin: 5% auto;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  // row-gap: 25px;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.project-item a {
  text-decoration: none;
  color: #feffff;
  text-transform: uppercase;
}

.project-item h2 {
  text-align: center;
  font-size: 1.25rem;
}

.project-item p {
  font-size: 1rem;
  // color: #17252a;
  color: #feffff;
}

.project-item img {
  width: 250px;
  min-height: 250px;
  // padding: 15px;
  // border-style: none;
}

// .fade-left {
//   opacity: 0;
//   margin-left: -300px;
//   max-width: 100%;
// }

// .icon {
//   width: 24px;
//   height: 24px;
// }

@media screen and (min-width: 38.5em) {
  .archive .page-title h1 {
    font-size: 2.75rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .project-item img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 50rem) {
  .archive .page-title h1 {
    font-size: 3rem;
  }

  .project-item {
    // background-color: #def2f1;
    // background-color: #17252a;
  }

  .project-item img {
    width: 400px;
    height: 400px;
  }

  .project-item h2 {
    font-size: 2.25rem;
  }

  .project-item p {
    font-size: 1.5rem;
  }

  /* Hover effect over project cards */
  .content {
    position: relative;
    // width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(23, 37, 42, 0.7);
    // background: rgba(43, 122, 120, 0.7);
    position: absolute;
    height: 400px;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 1.25rem;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fade-in-left {
    left: 20%;
  }

  .archive .fade-in-left h2,
  .archive .fade-in-left p {
    color: #feffff;
  }

  .archive .fade-in-left p {
    font-weight: bold;
  }
}

/* All Individual Project Pages */

.single .entry-header {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.single .entry-title {
  font-size: 1.55rem;
  padding: 1rem;
}

.single h2 {
  font-size: 1.25rem;
}
.process {
  margin: 15px;
}

.single .btn-process {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-1,
.btn-2 {
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:hover,
.btn-2:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:focus,
.btn-2:focus {
  outline: none;
}

// .btn-1,
// .btn-2 {
//   background-image: linear-gradient(
//     to right,
//     #25aae1,
//     #40e495,
//     #30dd8a,
//     #2bb673
//   );
//   box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
// }

.btn-1,
.btn-2 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.content-process {
  display: flex;
  flex-direction: row;
  text-align: left;
  background: #feffff;
}

.single .icon-images img {
  width: 90px;
  height: 90px;
  padding: 1rem;
  background-color: white;
}

.nav-title {
  color: white;
}

.nav-links a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  // padding: 5px;
  margin: 5px;
  border: none;
  font-size: 0.85rem;
}

.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: $color__link-hover;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover:after,
.nav-links a:active:after {
  width: 100%;
  left: 0;
}

.nav-links a {
  background-image: linear-gradient(
    to right,
    $color__link-hover,
    $color__link-hover 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.nav-links a:before {
  content: "";
  background: $color__link-hover;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.nav-links a:hover {
  background-position: 0;
}

@media screen and (min-width: 38.5em) {
  .single .entry-header {
    margin-bottom: 1rem;
  }

  .single-portfolio-projects .entry-title {
    font-size: 2.25rem;
  }

  .single-portfolio-projects h2 {
    font-size: 1.75rem;
  }

  .single .btn-process {
    padding: 1rem;
    margin: 1rem;
  }

  .btn-1,
  .btn-2 {
    margin: 20px;
    height: 55px;
  }

  .nav-subtitle,
  .nav-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 50em) {
  .single-portfolio-projects .entry-title {
    font-size: 3rem;
  }

  .single-portfolio-projects h2 {
    font-size: 2.25rem;
  }

  .nav-subtitle,
  .nav-title {
    font-size: 1.4rem;
  }
}
/* Single Projects Pages */

/* Portfolio Page */

/* Capstone Page */

/* Shopify Page */

/* Movie Database Page */

// .wp-block-video {
//   max-width: 800px;
//   max-height: 700px;
//   background-color: black;
//   // border: 2px solid #1c7877;
//   padding: 5px;
//   padding-bottom: 0;
//   // box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.7);
// }

/* About Page */

.page-template-default .entry-header {
  display: none;
}

.about-page-title {
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}

.about-page-title h1 {
  font-size: 1.55rem;
}

.dark-font {
  color: #17252a;
}

// .contact-me {
//   display: flex;
//   justify-content: center;
//   align-items: baseline;
//   // text-align: center;
// }

.contact h3 {
  margin-bottom: 2rem;
}

.social-navigation svg {
  fill: $color__text-footer;
}

.social-navigation ul {
  list-style: none;
}

.social-navigation a {
  background-color: #17252a;
  padding: 0.75rem;
  border-radius: 50%;
}
// .social-navigation li:last-child {
//   margin-right: 2rem;
// }

// .about p {
//   text-align: left;
// }

.wp-image-189 {
  height: 75vh;
  z-index: -1;
}

@media screen and (min-width: 38.5em) {
  .about-page-title h1 {
    font-size: 2.75rem;
  }

  .about p {
    font-size: 1.25rem;
  }

  .contact-me {
    display: flex;
    justify-content: center;
    align-items: baseline;
    // text-align: center;
  }
}

@media screen and (min-width: 50em) {
  .about-page-title h1 {
    font-size: 3rem;
  }

  .about p {
    font-size: 1.5rem;
  }
}
