.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}

/* Home Page */

.page-id-7 h1 {
  display: none;
}

.animated {
  font-size: 2.5rem;
  padding: 3rem 1rem;
  margin-top: 4.5rem;
  margin-bottom: 10rem;
}

.dark-mode .animated {
  color: $color__background-body;
}

@media screen and (min-width: 26.56em) {
  .animated {
    font-size: 3rem;
  }
}

@media screen and (min-width: 38.5em) {
  .animated {
    font-size: 4rem;
  }
}

@media screen and (min-width: 50em) {
  .animated {
    font-size: 5rem;
  }
}

@media screen and (min-width: 65.625em) {
  .animated {
    font-size: 7rem;
  }
}

/* Archive Projects Page */

.archive .page-title {
  text-align: center;
  margin-top: 2rem;
}

.page-title h1 {
  font-size: 2rem;
}

.page-title .dark-font {
  color: #17252a;
}

.projects {
  display: grid;
  text-align: center;
  max-width: 900px;
  margin: 5% auto;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  padding: 1rem;
}

.content {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-item a {
  text-decoration: none;
  color: #feffff;
  text-transform: uppercase;
}

.project-item h2 {
  text-align: center;
  font-size: 1.25rem;
}

.project-item p {
  font-size: 1rem;
  color: #feffff;
}

@media screen and (min-width: 38.625em) {
  .archive .page-title {
    margin-top: 3rem;
  }

  .archive .page-title h1 {
    font-size: 3rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 50rem) {
  .archive .page-title {
    margin-top: 4rem;
  }

  .archive .page-title h1 {
    font-size: 3.5rem;
  }

  .projects {
    grid-template-rows: 400px;
  }

  .project-item img {
    width: 100%;
    height: 100%;
  }

  .project-item h2 {
    font-size: 2.25rem;
  }

  .project-item p {
    font-size: 1.5rem;
  }

  /* Hover effect over project cards */
  .content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(23, 37, 42, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 1.25rem;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fade-in-left {
    left: 20%;
  }

  .archive .fade-in-left h2,
  .archive .fade-in-left p {
    color: #feffff;
  }

  .archive .fade-in-left p {
    font-weight: bold;
  }

  .dark-mode .fade-in-left,
  .dark-mode .fade-in-left h2,
  .dark-mode .fade-in-left p {
    background: transparent;
  }
}

/* Single Project Pages */

.single .entry-title {
  display: none;
}

.single .project-header {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.single .project-title {
  font-size: 2rem;
  padding: 1rem;
}

.single .attachment-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.individual-project {
  margin-left: 1rem;
  margin-right: 1rem;
}

.individual-project p {
  font-size: 1.125rem;
}

.single h2 {
  font-size: 1.3rem;
}

.content-overview,
.process {
  margin-bottom: 1rem;
}

.single .link-site {
  display: flex;
  justify-content: flex-start;
}

.single .live-site,
.single .github-site {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10rem;
  text-decoration: none;
  color: #feffff;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color2__link-background;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color2__link-background, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #feffff;
    &:before {
      width: 100%;
    }
  }
}

.single .icon-images img {
  width: 65px;
  height: 65px;
  padding: 0.5rem;
}

.process {
  margin-top: 1rem;
}

.single .btn-process {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-1,
.btn-2,
.dark-mode .btn-1,
.dark-mode .btn-2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #f2ffff;
  cursor: pointer;
  margin: 0.625rem;
  height: 40px;
  padding: 0.625rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:hover,
.btn-2:hover,
.dark-mode .btn-1:hover,
.dark-mode .btn-2:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:focus,
.btn-2:focus,
.dark-mode .btn-1:focus,
.dark-mode .btn-2:focus {
  outline: none;
}

.btn-1,
.btn-2,
.dark-mode .btn-1,
.dark-mode .btn-2 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.content-process {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 2px solid #def2f1;
}

.content-process p,
.content-process img {
  align-self: center;
}

.content1,
.content2 {
  padding: 0.75rem;
}

.content-process hr {
  background-color: $color__background-hr;
  width: 75%;
}

.postid-28 .wp-block-video,
.postid-30 .wp-block-video {
  max-width: 1024px;
}

.nav-links a {
  color: $color__link;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 0.3125rem;
  border: none;
  font-size: 0.875rem;
}

.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.25rem;
  left: 50%;
  background: $color__link-background;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover:after,
.nav-links a:active:after {
  width: 100%;
  left: 0;
}

.nav-links a {
  background-image: linear-gradient(
    to right,
    $color__link-hover,
    $color__link-hover 50%,
    #feffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.dark-mode .nav-links a {
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $color__link-dark;
}

.nav-links a:before {
  content: "";
  background: $color__link-hover;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.nav-links a:hover {
  background-position: 0;
}

@media screen and (min-width: 26.25em) {
  .nav-subtitle,
  .nav-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 39.75em) {
  .single .project-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .single .project-title {
    font-size: 3rem;
  }

  .individual-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem;
    gap: 0.75rem;
  }

  .individual-project p {
    font-size: 1.25rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }

  .single h2 {
    font-size: 1.65rem;
    padding: 0.5rem;
  }

  .single .attachment-large {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .content-overview {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .tech {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .tech h2 {
    color: #17252a;
  }

  .process {
    margin-top: 0;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .reflection {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  .single .btn-process {
    padding: 1rem;
    margin: 1rem;
  }

  .btn-1,
  .btn-2,
  .dark-mode .btn-1,
  .dark-mode .btn-2 {
    margin: 1.25rem;
    height: 55px;
    font-size: 1.4rem;
  }

  /* Design & Development Grid - All Projects */

  .content-process img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .content1,
  .content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 15px;
    row-gap: 30px;
  }

  .content1 p,
  .content2 p {
    margin: 0 0.9375rem;
  }

  .content1 hr {
    display: none;
  }

  /* WooStore Grid */
  .postid-29 .content1 {
    row-gap: 0;
  }

  .postid-29 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-29 .image_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-29 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-29 .image_dev_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-29 .content_dev_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-29 .image_dev_2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .postid-29 .content_dev_3 {
    display: none;
  }

  /* BCMD Grid */
  .postid-30 .content_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .postid-30 .image_1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .postid-30 .content_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-30 .image_2 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .postid-30 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-30 .image_dev_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-30 .content_dev_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-30 .image_dev_2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .postid-30 .content_dev_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-30 .post-30 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  /* Portfolio Grid */
  .postid-28 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-28 .image_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-28 .content_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-28 .image_2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .postid-28 .content_3 {
    display: none;
  }

  .postid-28 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-28 .image_dev_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-28 .content_dev_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-28 .image_dev_2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  /* Take a Hike Outfitters Grid */
  .postid-27 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-27 .image_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-27 .content_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-27 .image_2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .postid-27 .content_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-27 .image_3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .postid-27 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-27 .image_dev_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .postid-27 .content_dev_2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .postid-27 .image_dev_2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .postid-27 .content_dev_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-27 .image_dev_3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .nav-links {
    margin: 0 0.75rem;
  }
}

@media screen and (min-width: 50em) {
  .content1,
  .content2 {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }

  .postid-30 .content_1 {
    text-align: center;
    margin: 0 2rem;
  }

  .postid-29 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-29 .image_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-29 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-29 .image_dev_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-29 .content_dev_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-29 .image_dev_2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  /* BCMD Grid */
  .postid-30 .content_1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .postid-30 .image_1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .postid-30 .content_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-30 .image_2 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .postid-30 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-30 .image_dev_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-30 .content_dev_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-30 .post-30 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .postid-30 .content_dev_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-30 .image_dev_2 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  /* Portfolio Grid */
  .postid-28 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-28 .image_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-28 .content_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-28 .post-28 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .postid-28 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-28 .image_dev_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-28 .content_dev_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-28 .image_dev_2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  /* Take a Hike Outfitters Grid */
  .postid-27 .content_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-27 .image_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-27 .content_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-27 .image_2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .postid-27 .content_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-27 .image_3 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .postid-27 .content_dev_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .postid-27 .image_dev_1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .postid-27 .content_dev_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .postid-27 .image_dev_2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .postid-27 .content_dev_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .postid-27 .image_dev_3 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 50em) {
  .single .project-header {
    margin-top: 4rem;
  }

  .single .project-title {
    font-size: 3.5rem;
  }

  .single-portfolio-projects h2 {
    font-size: 2.25rem;
  }

  .individual-project {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .individual-project p {
    font-size: 1.4rem;
  }

  .single .live-site,
  .single .github-site {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }

  .single .icon-images img {
    width: 75px;
    height: 75px;
  }

  .nav-subtitle,
  .nav-title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 68em) {
  .postid-30 .content_1 {
    margin: 0 8rem;
  }
}

/* About Page */

.page-template-default .entry-header {
  display: none;
}

.about-page-title {
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}

.about-page-title h1 {
  font-size: 2rem;
}

.dark-font {
  color: #17252a;
}

.contact-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-me h3 {
  margin-bottom: 0;
}

.link-container {
  background-color: #17252a;
}

.social-navigation ul {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.social-navigation li {
  margin: 0.5rem;
}

.social-navigation svg {
  fill: $color__text-footer;
  width: 36px;
  height: 36px;
}

.about-container p {
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-id-11 .attachment-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-navigation svg:hover,
.social-navigation svg:active {
  fill: #cb2d6f;
}

@media screen and (min-width: 38.5em) {
  .about-page-title h1 {
    font-size: 3rem;
  }

  .about-container p {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .contact-me {
    margin: 4rem 0;
  }

  .contact-me h3 {
    font-size: 2.5rem;
  }

  .social-navigation svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 50em) {
  .about-page-title h1 {
    font-size: 3.5rem;
  }

  .about-container p {
    font-size: 1.4rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .social-navigation a:hover,
  .social-navigation a:active {
    fill: #cb2d6f;
  }
}

/* 404 Page*/

.error404 .site-main {
  margin: 0 1rem;
}

.error404 .page-header {
  text-align: center;
  margin: 1.5rem 0;
}

.error404 .page-title {
  font-size: 2rem;
}

.error404 h2 {
  font-size: 1.5rem;
}

.error404 .cat-item-none {
  list-style: none;
}

@media screen and (min-width: 38.5em) {
  .error404 .page-header {
    margin: 3rem 0;
  }

  .error404 .page-title {
    font-size: 3rem;
  }

  .search-field,
  .search-submit {
    font-size: 1.25rem;
  }

  .error404 h2 {
    font-size: 1.75rem;
  }

  .error404 .cat-item-none {
    font-size: 1.25rem;
  }

  .error404 .page-content p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 50em) {
  .error404 .page-title {
    font-size: 3.5rem;
  }

  .error404 h2 {
    font-size: 2rem;
  }

  .search-field,
  .search-submit {
    font-size: 1.5rem;
  }

  .error404 .cat-item-none {
    font-size: 1.5rem;
  }

  .error404 .page-content p {
    font-size: 1.5rem;
  }
}

/* Search Page */

.search .site-main,
.search .widget-area {
  margin: 0 1rem;
  color: #feffff;
}

.search .page-header {
  text-align: center;
  margin: 1.5rem 0;
}

.search .page-title {
  font-size: 2rem;
}

.search .entry-title a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
}

.search .entry-title a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.25rem;
  left: 50%;
  background: #def2f1;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.search .entry-title a:hover:after,
.search .entry-title a:active:after {
  width: 100%;
  left: 0;
}

.search .entry-title a,
.dark-mode .search .entry-title a {
  background-image: linear-gradient(
    to right,
    $color2__link-background,
    $color2__link-background 50%,
    #feffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.search .entry-title a:before {
  content: "";
  background: $color__link-hover;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.search .entry-title a:hover {
  background-position: 0;
}

.widget-area h2 {
  font-size: 1.5rem;
}

.search .cat-item-none {
  list-style: none;
}

@media screen and (min-width: 38.5em) {
  .search .page-header {
    margin: 3rem 0;
  }
  .search .page-title {
    font-size: 3rem;
  }

  .search .entry-title a {
    font-size: 1.75rem;
  }

  .search img {
    max-width: 600px;
    max-height: 600px;
  }

  .widget-area {
    font-size: 1.25rem;
  }

  .widget-area h2 {
    font-size: 1.75rem;
  }

  .search .cat-item-none {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 50em) {
  .search .page-title {
    font-size: 3.5rem;
  }

  .search .entry-title a {
    font-size: 2rem;
  }

  .search .cat-item-none {
    font-size: 1.5rem;
  }

  .widget-area {
    font-size: 1.5rem;
  }

  .widget-area h2 {
    font-size: 2rem;
  }
}
