.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5rem;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}

/* Home Page */

.page-id-7 h1 {
  display: none;
}

.animated {
  font-size: 2.5rem;
  padding: 3rem 1rem;
  margin-top: 4.5rem;
  margin-bottom: 10rem;
}

// .intro-container {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .line-1 {
//   font-family: monospace;
//   position: relative;
//   top: 50%;
//   width: 24rem;
//   // margin: 0 auto;
//   border-right: 4px solid rgb(222, 242, 241);
//   font-size: 2.5rem;
//   text-align: left;
//   white-space: nowrap;
//   overflow: hidden;
//   transform: translateY(-50%);
//   // color: white;
//   color: #17252a;
// }

/* Animation */
// .anim-typewriter {
//   animation: typewriter 4s steps(44) 1s 1 normal both,
//     blinkTextCursor 500ms steps(44) infinite normal;
// }

// @keyframes typewriter {
//   from {
//     width: 0;
//   }
//   to {
//     width: 50rem;
//   }
// }

// @keyframes blinkTextCursor {
//   from {
//     border-right-color: rgba(222, 242, 241, 0.75);
//   }
//   to {
//     border-right-color: transparent;
//   }
// }

// @media screen and (min-width: 38.5em) {
//   .animated {
//     font-size: 4rem;
//   }

//   .line-1 {
//     font-size: 4rem;
//   }

//   @keyframes typewriter {
//     from {
//       width: 0;
//     }
//     to {
//       width: 78rem;
//     }
//   }
// }

@media screen and (min-width: 26.56em) {
  .animated {
    font-size: 3rem;
  }
}

@media screen and (min-width: 38.5em) {
  .animated {
    font-size: 4rem;
  }
}

@media screen and (min-width: 50em) {
  .animated {
    font-size: 5rem;
  }
}

@media screen and (min-width: 65.625em) {
  .animated {
    font-size: 7rem;
  }
}

/* Archive Projects Page */

.archive .page-title {
  text-align: center;
  margin-top: 2rem;
}

.page-title h1 {
  font-size: 2rem;
}

.page-title .dark-font {
  color: #17252a;
}

.projects {
  display: grid;
  text-align: center;
  align-self: center;
  width: 100%;
  max-width: 900px;
  margin: 5% auto;
  grid-template-columns: 1fr;
}

.project-item {
  display: flex;
  justify-content: center;
  padding: 0.9375rem;
}

.project-item a {
  text-decoration: none;
  color: #feffff;
  text-transform: uppercase;
}

.project-item h2 {
  text-align: center;
  font-size: 1.25rem;
}

.project-item p {
  font-size: 1rem;
  color: #feffff;
}

.project-item img {
  width: 250px;
  min-height: 250px;
}

@media screen and (min-width: 38.625em) {
  .archive .page-title {
    margin-top: 3rem;
  }

  .archive .page-title h1 {
    font-size: 3rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .project-item img {
    width: 275px;
    height: 275px;
  }
}

@media screen and (min-width: 50rem) {
  .archive .page-title {
    margin-top: 4rem;
  }

  .archive .page-title h1 {
    font-size: 3.5rem;
  }

  .projects {
    row-gap: 15px;
  }

  .project-item img {
    width: 350px;
    height: 350px;
  }

  .project-item h2 {
    font-size: 2.25rem;
  }

  .project-item p {
    font-size: 1.5rem;
  }

  /* Hover effect over project cards */
  .content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(23, 37, 42, 0.75);
    position: absolute;
    height: 350px;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-size: 1.25rem;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fade-in-left {
    left: 20%;
  }

  .archive .fade-in-left h2,
  .archive .fade-in-left p {
    color: #feffff;
  }

  .archive .fade-in-left p {
    font-weight: bold;
  }
}

/* Single Project Pages */

.single .entry-title {
  display: none;
}

.single .project-header {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.single .project-title {
  font-size: 2rem;
  padding: 1rem;
}

.single .attachment-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.individual-project {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.individual-project p {
  font-size: 1rem;
}

.single h2 {
  font-size: 1.25rem;
}

.content-overview,
.process {
  margin-bottom: 1rem;
}

.single .link-site {
  display: flex;
  justify-content: flex-start;
}

.single .live-site,
.single .github-site {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10rem;
  text-decoration: none;
  color: #feffff;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cb2d6f;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#cb2d6f, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #feffff;
    &:before {
      width: 100%;
    }
  }
}

.single .icon-images img {
  width: 65px;
  height: 65px;
  padding: 0.5rem;
}

.process {
  margin-top: 1rem;
}

.single .btn-process {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.btn-1,
.btn-2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #f2ffff;
  cursor: pointer;
  margin: 0.625rem;
  height: 40px;
  padding: 0.625rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:hover,
.btn-2:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-1:focus,
.btn-2:focus {
  outline: none;
}

.btn-1,
.btn-2 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #cb2d6f,
    #66fcf1
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.content-process {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 2px solid #def2f1;
}

.content1,
.content2 {
  padding: 0.75rem;
}

.content-process hr {
  background-color: #2b7a78;
  height: 2px;
  width: 75%;
}

.postid-28 .wp-block-video {
  max-width: 1024px;
}

.postid-30 .wp-block-video {
  max-width: 750px;
}

.postid-30 .video-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.postid-30 .video {
  background-color: #17252a;
  padding: 0.5rem;
}

.postid-30 .video-text {
  padding: 0.25rem;
}

.nav-title {
  color: #f2ffff;
  font-size: 0.875rem;
}

.nav-links a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  // padding: 5px;
  margin: 0.3125rem;
  border: none;
  font-size: 0.85rem;
}

.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.25rem;
  left: 50%;
  // background: #def2f1;
  background: #cb2d6f;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover:after,
.nav-links a:active:after {
  width: 100%;
  left: 0;
}

.nav-links a {
  background-image: linear-gradient(
    to right,
    $color__link-hover,
    $color__link-hover 50%,
    #feffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.nav-links a:before {
  content: "";
  background: $color__link-hover;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.nav-links a:hover {
  background-position: 0;
}

@media screen and (min-width: 26.25em) {
  .nav-subtitle,
  .nav-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 39.75em) {
  .single .project-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .single .project-title {
    font-size: 3rem;
  }

  .individual-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.9375rem;
    gap: 0.75rem;
  }

  .individual-project p {
    font-size: 1.4rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }

  .single h2 {
    font-size: 1.65rem;
    padding: 0.5rem;
  }

  .single .attachment-large {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .content-overview {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: #feffff;
  }

  .tech {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .tech h2 {
    color: #17252a;
  }

  .process {
    margin-top: 0;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .reflection {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    // color: #feffff;
  }

  .postid-30 .video-content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

  .postid-30 .video {
    grid-column: 2 /4;
    grid-row: 1 / 2;
  }

  .postid-30 .video-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .single .btn-process {
    padding: 1rem;
    margin: 1rem;
  }

  .btn-1,
  .btn-2 {
    margin: 1.25rem;
    height: 55px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 50em) {
  .single .project-header {
    margin-top: 4rem;
  }

  .single .project-title {
    font-size: 3.5rem;
  }

  .single-portfolio-projects h2 {
    font-size: 2.25rem;
  }

  .single .live-site,
  .single .github-site {
    padding: 0.75rem 1.25rem;
    letter-spacing: 0.15rem;
    font-size: 1.25rem;
  }

  .single .icon-images img {
    width: 75px;
    height: 75px;
  }

  .nav-subtitle,
  .nav-title {
    font-size: 1.3rem;
  }
}

/* About Page */

.page-template-default .entry-header {
  display: none;
}

.about-page-title {
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}

.about-page-title h1 {
  font-size: 2rem;
}

.dark-font {
  color: #17252a;
}

.contact-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-me h3 {
  margin-bottom: 0;
}

.link-container {
  background-color: #17252a;
}
.social-navigation ul {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.social-navigation li {
  margin: 0.5rem;
}

.social-navigation svg {
  fill: $color__text-footer;
  width: 36px;
  height: 36px;
}

.about-container p {
  margin-bottom: 0;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.page-id-11 .attachment-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 38.5em) {
  .about-page-title h1 {
    font-size: 3rem;
  }

  .about-container p {
    font-size: 1.25rem;
    // margin: 15px;
  }

  .contact-me {
    margin: 4rem 0;
  }

  .contact-me h3 {
    font-size: 2.5rem;
  }

  .social-navigation svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 50em) {
  .about-page-title h1 {
    font-size: 3.5rem;
  }

  .about-container p {
    font-size: 1.5rem;
  }
}
