// Footer //
.site-footer {
  background-color: $color__background-footer;
}

.site-footer a {
  color: $color__text-footer;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}

.site-footer p {
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 0;
}

.footer-menu {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer-menu li {
  display: inline-block;
  margin: 0.25rem;
}

@media screen and (min-width: 38.5em) {
  .footer-navigation {
    visibility: hidden;
  }

  .footer {
    font-size: 1.25rem;
  }
}
