/* Header */

.site-header {
  background-color: #f7f7f7;
  background-color: $color__background-body;
  width: 100%;
}

.site-title {
  display: none;
}

.site-header img {
  width: 75px;
  height: 75px;
}

.site-header a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding-top: 15px;
  margin: 1rem;

  &:last-child {
    margin-right: 20px;
  }
}

@media screen and (min-width: 37.5em) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-header img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
  }
}
