a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: none;
  }

  &:focus {
    outline: 1px solid $color__link;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
