$color__background-body: #3aafa9;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: #3aafa9;

$color__text-screen: white;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
// $color__link-visited: #def2f1;
// $color__link-hover: #def2f1;
// $color__link-visited: rgb(252, 132, 76);
// $color__link-hover: #fc844c;
$color__link-visited: #17252a;
$color__link-hover: #17252a;
$color__text-main: #17252a;
$color__text-footer: #feffff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
